.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 50%;
    height: 100%;
    margin-bottom: 5rem;
}
.items__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    gap: 1rem;
}
.repo{
    width: 100%;
    height: 100%;
    border: 2px solid #FFFFFF1A;
    display: flex;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
}
.repo__info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    width: 90%;
}
.repo__name{
    font-size: var(--text-size-3);
    font-weight: var(--font-weight-5);
    text-overflow: ellipsis;
    white-space: nowrap;
}
.repo__description{
    font-size: var(--text-size-4);
    font-weight: var(--font-weight-2);
    color: var(--grey-color-4);
    text-overflow: ellipsis;
}
.repo__link{
    font-size: var(--text-size-4);
    font-weight: var(--font-weight-2);
    color: var(--grey-color-6);
    text-decoration: none;
    padding: .5rem .5rem;
    border-radius: .25rem;
    width: fit-content;
    border: .063rem solid var(--grey-color-6);
}